.index {
  flex-direction: column;
  width: 100%;
}
@font-face {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
page {
  height: 100%;
  background-color: #1aa6b7;
  color: #d9ecf2;
}
page .top {
  display: flex;
  flex-direction: row;
  margin-top: 50rpx;
  margin-bottom: 50rpx;
}
page .top .weather {
  min-width: 600rpx;
  flex: 1;
  display: flex;
  flex-direction: row;
  font-size: medium;
  max-width: 300rpx;
  overflow: auto;
}
page .top .weather .weatherIcon {
  margin-left: 50rpx;
}
page .top .weather .weatherText {
  margin-left: 40rpx;
}
page .main {
  margin-left: 10rpx;
  height: 1100rpx;
  width: 690rpx;
  background-color: rgba(217, 236, 242, 0.3);
  border: 8px solid white;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  overflow: scroll;
  padding: 30rpx;
}
page .main .addType {
  margin-left: 560rpx;
  margin-bottom: 60rpx;
}
.todo-tip {
  display: flex;
  justify-content: center;
}
.todo-wrp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.todo-wrp .todo {
  display: flex;
  flex-direction: row;
  border: 5rpx solid white;
  border-radius: 20rpx;
  min-height: 65rpx;
  width: 95%;
  margin-bottom: 14rpx;
  background-color: #ff414d;
}
.todo-wrp .todo .todo-icon {
  margin-top: 10rpx;
  margin-left: 30rpx;
  margin-right: 30rpx;
}
.todo-wrp .todo .todo-text {
  margin-top: 10rpx;
  flex: 1;
  margin-left: 30rpx;
}
.type {
  display: flex;
  flex-direction: row;
  min-height: 80rpx;
  border: solid 7rpx #d9ecf2;
  border-radius: 20rpx;
  margin-bottom: 25rpx;
  background-color: #f56a79;
}
.type .type-icon {
  padding: 0;
  margin-left: 20rpx;
  margin-right: 35rpx;
  margin-top: 10rpx;
}
.type .type-text {
  margin-top: 10rpx;
  flex: 1;
  margin-left: 30rpx;
  font-weight: bold;
}
.type .flex-top {
  flex: 1;
}
.addType {
  height: 50rpx;
  width: 50rpx;
  border: #d9ecf2 5px solid;
  color: #d9ecf2;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  padding: 20rpx;
}
